
backend/.idea/
backend/__pycache__/
backend/blog/__pycache__/
backend/blog/venv/
backend/blog/.idea/
frontend/node_modules/
frontend/t.html/
frontend/t.js/
mysqlclient-1.4.2-cp37-cp37m-win_amd64.whl
backend/mysqlclient-1.4.2-cp37-cp37m-win_amd64.whl
backend/blog/
frontend/.npmrc
