<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<ul>
    {%for line in my_dict.c %}

    <li style="color: {{forloop.counter|divisibleby:"2"|yesno:"red,blue"}}">
        {{forloop.counter}} {{line|add:"100"}}
    </li>
    {%endfor%}
</ul>

<table>
    {% for x in data %}
    {% if forloop.counter0|divisibleby:9 %}<tr>{% endif %}
        <td>{{x}}</td>
    {% if forloop.counter|divisibleby:9 %}</tr>{% endif %}
    {% endfor %}
</table>





</body>
</html>