<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red {
            color:red
        }
        .blue {
            color: blue;
        }


    </style>

</head>
<body>

<ul >
    {% for x in c %}
    <li class="{% cycle 'red' 'blue' %}">{{x|add:100}} </li>
    {% endfor %}
</ul>
<table border="1">
    {% for foo in data %}
    {% if forloop.counter0|divisibleby:9 %}<tr>{% endif %}
        <td>{{foo}}</td>
    {% if forloop.counter|divisibleby:9 %}</tr>{% endif %}
    {% endfor %}


</table>
<hr>
{% load myfilters %}








</body>
</html>